@value steps from "./steps.style.css";

.steps .step:first-child .left_line,
.steps .step:last-child .right_line {
  display: none;
}

.status {
  width: 15px;
  height: 15px;
  vertical-align: sub;
}
